In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("train.csv")

In [3]:
train_data.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1

In [4]:
len(train_data.groupby("color_type").size())

56

In [5]:
# example of multioutput regression test problem
from sklearn.datasets import make_regression
# create datasets
X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# summarize dataset
print(X.shape, y.shape)

(1000, 10) (1000, 2)

In [6]:
x = train_data.iloc[:,[3,5,6,7,8]].values

In [7]:
y = train_data.iloc[:,[-2,-1]].values

In [8]:
pd.DataFrame(x)

         0     1      2     3    4
0      2.0  0.80   7.78  13.0  9.0
1      1.0  0.72  14.19  13.0  9.0
2      NaN  0.15  40.90  15.0  4.0
3      1.0  0.62  17.82   0.0  1.0
4      2.0  0.50  11.06  18.0  4.0
...    ...   ...    ...   ...  ...
18829  2.0  0.44  27.36   0.0  1.0
18830  NaN  0.73  14.25  15.0  4.0
18831  0.0  0.99  28.13  13.0  9.0
18832  0.0  0.55  44.82  13.0  9.0
18833  0.0  0.86  37.40   0.0  1.0

[18834 rows x 5 columns]

In [9]:
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [10]:
# labelencoder = LabelEncoder()

In [11]:
# x[:,1] = labelencoder.fit_transform(x[:,1])

In [12]:
from sklearn.impute import SimpleImputer as SI

In [13]:
median = SI(missing_values=np.nan, strategy='median')

In [14]:
x[:,0:1] = median.fit_transform(x[:,0:1])

In [15]:
# from sklearn.compose import ColumnTransformer

In [16]:
# ct = ColumnTransformer(
#     [('one_hot_encoder', OneHotEncoder(categories='auto'), [1])],   # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
#     remainder='passthrough'                                         # Leave the rest of the columns untouched
# )

In [17]:
# x_one = ct.fit_transform(x).toarray()

In [18]:
# x_one_less = x_one[:,1:]

In [19]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()

In [20]:
x = sc_x.fit_transform(x)

In [21]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [22]:
model.fit(x, y)

LinearRegression()

In [24]:
import pickle
file = open("trained_model.plk","wb+")
pickle.dump(model,file)
file.close()